/web/bundles/
/web/components/*
/web/config.php
/app/config/parameters.yml
/bin/*
/build/
/vendor/
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
/var/data/database.sqlite*
/var/SymfonyRequirements.php
!var/cache/.gitkeep
!var/logs/.gitkeep
/composer.phar
*.php~
nbproject
