/web/bundles/
/web/components/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/data/member_photos/*
/app/data/member_photos_optimized/*
/app/data/database.sqlite*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/bin/*
/build/
/vendor/
/composer.phar
*.php~
nbproject
