{% extends '::base.html.twig' %}

{% block body -%}
    <h2>{% trans %}Edit Person{% endtrans %}</h2>

    
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('ecgpb.member.person.index') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
