/**** general *****************************************************************/

h2, .h2 {
    font-size: 25px;
}
.h2-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}
.input-sm, select.input-sm {
    height: 24px;
    line-height: 1.5;
}
.input-sm {
    padding: 3px;
}
select.input-sm {
    padding: 0;
}

#body-block {
    padding: 0 10px 50px 10px;
}
.navbar {
    margin-bottom: 0;
}

/**** helpers *****************************************************************/

.position-relative {
    position: relative;
}
.col-md-offset-right-1 {
    margin-right: 8.33333%;
}

/**** form ********************************************************************/

.form-horizontal .form-group {
    margin-left: 0;
    margin-bottom: 5px;
}
.control-label.optional span {
    color: #aaa;
    font-size: 80%;
    font-weight: normal;
}
.collection-item {
    padding: 7px 0 5px 0;
}
.collection-item .col-md-10 {
    padding-left: 0;
}

/**** address listing **************************************************************/

.person-picture {
    height: 60px;
}
