parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ecgpb.security.user.admin.password:     placeholder

    ecgpb.contact.name_html:                Evangeliums &ndash; Christengemeinde Paderborn e.V.
    ecgpb.contact.name:                     Evangeliums – Christengemeinde Paderborn e.V.
    ecgpb.contact.street:                   Karl-Schurz-Str. 28
    ecgpb.contact.zip:                      33100
    ecgpb.contact.city:                     Paderborn
    ecgpb.contact.main_phone:               placeholder
    ecgpb.contact.office_phone:             placeholder
    ecgpb.contact.lifetime_phone:           placeholder
    ecgpb.contact.gfh_phone:                placeholder
    ecgpb.contact.library_phone:            placeholder
    ecgpb.contact.library_email:            placeholder
    ecgpb.contact.bank.iban:                placeholder
    ecgpb.contact.bank.bic:                 placeholder
    ecgpb.contact.memberlist.responsible:   placeholder
    ecgpb.contact.memberlist.email:         placeholder

    ecgpb.members.photo_path:               %kernel.root_dir%/data/member_pictures
    ecgpb.members.photo_path_optimized:     %kernel.cache_dir%/ecgpb/member_photos_optimized