<form action="{{ path('ecgpb.member.index.encode_password') }}" method="post">
    <p>User: <input type="text" name="user" /></p>
    <p>Password: <input type="password" name="password" /></p>
    <p><button type="submit">Encode</button></p>
</form>