/**** helper classes **********************************************************/

.bold {
    font-weight: bold;
}

/**** general *****************************************************************/

#body-block {
    padding: 0 10px 50px 10px;
}

/**** form ********************************************************************/

.form-horizontal .form-group {
    margin-left: 0;
    margin-bottom: 5px;
}
.control-label.optional span {
    color: #aaa;
    font-size: 80%;
    font-weight: normal;
}
.collection-item {
    clear: both;
    padding-bottom: 15px;
}

/**** print page **************************************************************/

#print-page .page {
    border: 1px dashed #bbb;
    height: 210mm;
    overflow: hidden;
    position: relative;
    width: 148mm;
}
#print-page .page .page-margin {
    padding: 9mm;
}
#print-page .font-size-xl {
    font-size: 15pt;
}
#print-page .font-size-l {
    font-size: 13pt;
}
#print-page .font-size-m {
    font-size: 11pt;
}
#print-page .font-size-s {
    font-size: 10pt;
}
#print-page .font-size-xs {
    font-size: 9pt;
}
#print-page .font-size-xxs {
    font-size: 8pt;
}
#print-page table tr td, #print-page table tr th {
    padding-right: 20px;
}
#print-page p {
    margin: 10px 0 40px 0;
}
#print-page .front-logo {
    border-bottom: 2px solid #000;
    padding: 0 0 10px 0;
}
#print-page .full-name {
    padding-left: 10px;
}
#print-page .cover-title {
    font-size: 60px;
    line-height: 2;
    padding: 100px 20px;
    text-align: center;
}
#print-page .church-picture {
    margin-bottom: 10px;
}
#print-page .change-notification {
    position: absolute;
    bottom: 25px;
}

/**** print page - members ****/
#print-page .members,
#print-page .members tr td,
#print-page .members tr th {
    border-color: #222;
    vertical-align: top;
}
#print-page .members tr td,
#print-page .members tr th {
    font-weight: normal;
    padding: 0.75mm;
    line-height: 3.6mm;
}
#print-page .members td.address-col {
    line-height: 5mm;
    width: 34mm;
}
#print-page .members td.photo-col {
    padding: 0;
}
#print-page .members td.photo-col div {
    display: block;
    height: 12.75mm;
    overflow: hidden;
    width: 10.5mm;
}
#print-page .members td.firstname-col {
    width: 22mm;
}
#print-page .members td.dob-col {
    width: 18.5mm;
}
#print-page .members td.contact-col {
    width: 44.25mm;
}
#print-page .members td.contact-col div {
    width: 44.25mm;
    word-wrap: break-word;
}