/**** helper classes **********************************************************/

.bold {
    font-weight: bold;
}

/**** general *****************************************************************/

#body-block {
    padding: 0 10px 50px 10px;
}

/**** form ********************************************************************/

.form-horizontal .form-group {
    margin-left: 0;
    margin-bottom: 5px;
}
.control-label.optional span {
    color: #aaa;
    font-size: 80%;
    font-weight: normal;
}
.collection-item {
    padding: 7px 0 5px 0;
}
.collection-item .col-md-10 {
    padding-left: 0;
}

/**** address listing **************************************************************/

.person-picture {
    height: 60px;
}